body{
  background-color:rgba(44, 158, 211, 0.692);
}

.alfa{
  width:200px;
  height:200px;
}

.nav{
  float: right;
  display: flex;
  gap:35px ;
}

.nav a{
  text-decoration: none;
}

.contenedor{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  height:280px;
  align-items: center;
}

.btnsum{
  width:69px;
  height:25px;
  border-radius:10px;
  background-color: rgb(255, 153, 0);
}

.btnreset{
  width:69px;
  height:25px;
  border-radius:10px;
  background-color:rgb(255, 153, 0);
}

.btnSubstra{
  width:69px;
  height:25px;
  border-radius:10px;
  background-color:rgb(255, 153, 0);;
}

.numero{
  text-align: center;
}

.oscuro{
  background-color:black ;
  color:white;
}

.botones{
  text-align: center;
}

.dark-mode{
  background-color: black;
  color: white;
}

.buscar{
  text-align: center;
}

.navegacion{
  margin: 0 0 35px 0;
}

