body{
  background-color:rgba(44, 158, 211, 0.692);

}

.alfa{
  width:200px;
  height:200px;
}

.nav{
  float: right;
  display: flex;
  gap:35px ;
}

.nav a{
  text-decoration: none;
}

.contenedor{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  height:280px;
  align-items: center;

}
